@import "tailwindcss";

body {
  margin: 0;
   font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom button styles */
.btn-primary {
  @apply bg-green-600 text-white px-6 py-3 rounded-lg hover:bg-green-700 transition duration-300 font-medium;
}

.btn-secondary {
  @apply border-2 border-green-600 text-green-600 px-6 py-3 rounded-lg hover:bg-green-600 hover:text-white transition duration-300 font-medium;
}

